/* body {
  background: #ffffff;
  color: #333333;
  margin-top: 5rem;
  font-size: large;
  padding:20px;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ff7a8a;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;

}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.account-heading {
  font-size: 2.5rem;
}

#navbar{
  background-color:  rgb(24, 55, 80);
  font-size: large;
}
#navbarTitle{
  font-size: large;
}
.navbar{
padding: 0;
}
.customTabs{
  padding:4px 20px;
  border: 5px ;
}
.nav{
  font-size:medium;
}
.nav-tabs .nav-item {
  padding: 5px;
}
.box-content {
  padding: 10px;
  border: 1px solid #9CBEB669;
  background-color: #f1efe9f2;
  border-radius: 4px;
  margin: auto;  
}
.Nbox-content {
  padding: 10px 0 10px 0;
  margin: auto;
}
.Nbox-title {
  margin-left: 30px;
  padding-top: 10px;
}
.Nbox-content-light {
  padding: 10px;
  background-color: #F8F9FA;
  margin: auto;
}
.SingleDatePicker_picker{
  z-index: 1000;
}
.Nbox-little {
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 5px;
}
.Nbox-border {
  background-color: #CBD9E0;
  margin: 10px;
  border: 2px solid;
  border-radius: 10px;
  border-color: rgb(230,230,230);
}
.Nbox-border_light {
  background-color: #ffffff;
  margin: 10px;
  border: 2px solid;
  border-radius: 10px;
  border-color: rgb(230,230,230);
}
.dash-table-container{
  background-color: #f2f0ea;
}


.Select-menu-outer {
  display : block !important;
  }

table.tiny-header tr:first-child {
  font-size: 10px;
  font-weight: 900;
}

table.tabelaRent td:nth-child(1),
table.tabelaRent td:nth-child(15) {
  font-weight: 900;
}

table {
  width: 100%;
}

td {
  padding: 2px 0px;
}


.linhaFundo{
  background-color: #d7dbe1;
  -webkit-print-color-adjust: exact; 
}
.linhaNormal{
  background-color: white;
}



table {
  font-size: 1.1rem;
  border-spacing: 0;
  border-collapse: collapse;
}

table.tiny-header tr:first-child {
  font-size: 1.2rem;
}



td,
th {
  border: 0;
  padding: 4px 12px !important;

}

th {
  padding: 4px 12px !important;
}
.green{
  color: green;
  padding: 4px 12px;
}
.red{
  color: red;
  padding: 4px 12px;
}
.bold{
  font-weight: 900;
} */


/* Base styles added to element and then get overwritten with responsive values */
.buttonChat {
  height: 50px;
}

/* 48em is theme.breakpoints.sm by default */
@media (min-width: 48em) {
  .buttonChat {
    height: 100%;
  }
}

/* 75em is theme.breakpoints.lg by default
@media (min-width: 75em) {
  .inputConfig {
    width: 60%;
  }
} */